<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edtarawedding.elmund.io.taraandedswedding" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RSVP"
            android:label="@string/title_activity_rsvp"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Map"
            android:label="@string/title_activity_map"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Info"
            android:label="@string/title_activity_info"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Venue"
            android:label="@string/title_activity_venue"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Password"
            android:label="@string/title_activity_password"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
